# Kafka Configuration
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_INPUT_TOPIC=ecommerce-transactions
KAFKA_VALID_TOPIC=processed-transactions
KAFKA_DLQ_TOPIC=transactions-dlq
KAFKA_CONSUMER_GROUP=flink_ecommerce_group

# Flink Checkpoint & Execution Configuration
FLINK_CHECKPOINT_DIR=file:///tmp/flink-checkpoints
FLINK_PARALLELISM=1
FLINK_CHECKPOINT_INTERVAL_MS=10000
FLINK_MAX_OUT_OF_ORDERNESS_SEC=5